In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
# from census import Census
import json

#pip istall only needs to be ran once then this code can be removed
!pip install -U epiweeks
import epiweeks as ew

# Census API Key
# from config import api_key
# # c = Census(api_key)
# c = api_key

Collecting epiweeks
  Downloading epiweeks-2.1.2-py3-none-any.whl (6.3 kB)
Installing collected packages: epiweeks
Successfully installed epiweeks-2.1.2

In [2]:
#Disease CSV data: issues are traslating 'epiweek' column into a year, data frame will need to be shortened to only inlude years 2005-2010

disease_df = pd.read_csv("diseases_us_1916_to_2011.csv")

disease_df

C:\Users\David Mayorquin\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (5) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,epi_week,state,loc,loc_type,disease,cases,incidence_per_100000
0,196601,MN,MINNESOTA,STATE,HEPATITIS A,3,0.08
1,196601,CO,COLORADO,STATE,HEPATITIS A,1,0.05
2,196601,AZ,ARIZONA,STATE,HEPATITIS A,6,0.37
3,196601,MT,MONTANA,STATE,HEPATITIS A,2,0.28
4,196601,LA,LOUISIANA,STATE,HEPATITIS A,1,0.03
...,...,...,...,...,...,...,...
759462,194752,WI,SUPERIOR,CITY,DIPHTHERIA,0,0.00
759463,194752,FL,TAMPA,CITY,DIPHTHERIA,0,0.00
759464,194752,CO,DENVER,CITY,DIPHTHERIA,1,0.25
759465,194752,NY,BUFFALO,CITY,DIPHTHERIA,2,0.35
759466,194752,UT,SALT LAKE CITY,CITY,DIPHTHERIA,0,0.00

In [3]:
#Convert epi_week column into week and years columns.
disease_df['epi_week'] = disease_df['epi_week'].astype(str)
disease_df['year'] = disease_df['epi_week'].str[0:4]
disease_df['week'] = disease_df['epi_week'].str[4:6]
disease_df

,epi_week,state,loc,loc_type,disease,cases,incidence_per_100000,year,week
0,196601,MN,MINNESOTA,STATE,HEPATITIS A,3,0.08,1966,01
1,196601,CO,COLORADO,STATE,HEPATITIS A,1,0.05,1966,01
2,196601,AZ,ARIZONA,STATE,HEPATITIS A,6,0.37,1966,01
3,196601,MT,MONTANA,STATE,HEPATITIS A,2,0.28,1966,01
4,196601,LA,LOUISIANA,STATE,HEPATITIS A,1,0.03,1966,01
...,...,...,...,...,...,...,...,...,...
759462,194752,WI,SUPERIOR,CITY,DIPHTHERIA,0,0.00,1947,52
759463,194752,FL,TAMPA,CITY,DIPHTHERIA,0,0.00,1947,52
759464,194752,CO,DENVER,CITY,DIPHTHERIA,1,0.25,1947,52
759465,194752,NY,BUFFALO,CITY,DIPHTHERIA,2,0.35,1947,52
759466,194752,UT,SALT LAKE CITY,CITY,DIPHTHERIA,0,0.00,1947,52

In [6]:
# short_disese_df = disease_df.loc[disease_df['year']].isin(['2006','2007','2008','2009','2010'])
short_disese_df = disease_df.loc[(disease_df['year']== '2010')|(disease_df['year']== '2009')|(disease_df['year']== '2008')|(disease_df['year']== '2007')|(disease_df['year']== '2006')|(disease_df['year']== '2005')]

In [7]:
short_disese_df

,epi_week,state,loc,loc_type,disease,cases,incidence_per_100000,year,week
75658,200501,FL,FLORIDA,STATE,HEPATITIS A,6,0.03,2005,01
75659,200501,MT,MONTANA,STATE,HEPATITIS A,1,0.11,2005,01
75660,200501,CT,CONNECTICUT,STATE,HEPATITIS A,2,0.06,2005,01
75661,200501,AZ,ARIZONA,STATE,HEPATITIS A,6,0.10,2005,01
75662,200501,OH,OHIO,STATE,HEPATITIS A,1,0.01,2005,01
...,...,...,...,...,...,...,...,...,...
412420,201052,OR,OREGON,STATE,PERTUSSIS,2,0.05,2010,52
412421,201052,WI,WISCONSIN,STATE,PERTUSSIS,0,0.00,2010,52
412422,201052,NJ,NEW JERSEY,STATE,PERTUSSIS,5,0.06,2010,52
412423,201052,NC,NORTH CAROLINA,STATE,PERTUSSIS,0,0.00,2010,52
412424,201052,NY,NEW YORK,STATE,PERTUSSIS,47,0.24,2010,52